registry=https://artifactory.apps.bancolombia.com/api/npm/npm-bancolombia/

; Bancolombia Artifactory (set these env vars locally to enable private packages)
; @bancolombia:registry=${BCO_NPM_REGISTRY}
; //${BCO_NPM_REGISTRY_HOST}/:_authToken=${BCO_NPM_TOKEN}
; always-auth=true
